<h2 class="title">Employee List</h2>
<ng-container *ngIf="employees$ | async as data; else empty">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Salary [$]</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
  <ng-container *ngFor="let employee of data">
    <tr>
      <td>{{employee.id}}</td>
      <td>{{employee.employee_name}}</td>
      <td>{{employee.employee_age}}</td>
      <td>{{employee.employee_salary}} $</td>
      <button (click)="onDeleteEmployee(employee.id, employee.employee_name)">Delete</button>
    </tr>
  </ng-container>
    </tbody>
  </table>
</ng-container>

<ng-template #empty>
  <p>The database is empty</p>
</ng-template>
